.CmpCard {
    display : flex;
    flex-wrap: wrap;
    color : white;
}   

.CmpCard > * {
    margin : auto;
} 

.CmpCard > Button {
    border-radius: 2%;
    border: none;
    background-color: tomato;
    color : white;
}